/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 80vh;
  background: url('/content/images/overview_project.svg') no-repeat center center;
  background-size: contain;
  margin-bottom: 20px;
}
